<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>何雨航的控制面板</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="container">
        <div id="header">
            <h1>控制台</h1>
        </div>
        <div id="menu">
            <b>命令</b> {% for cmd in item.cmds %}
            <li>
                <a href="{{ cmd.href }}">
              {{ cmd.text }}
            </a>
            </li>{% endfor %}
        </div>
        <div id="content">
            <pre>
            {{ item.main_text }}
            </pre>
        </div>
        <div id="footer">
            版权 © 何雨航
        </div>
    </div>
</body>

</html>
